.hero-text {
    font-size: 120%;
}

.biography:visited {
    color: red;
}

.friends:visited {
    color: teal;
}

.novadays:visited {
    color: green;
}

.galery:visited {
    color: brown;
}

.biography:link {
    color: blue;
}

.friends:link {
    color: violet;
}

.novadays:link {
    color: rgb(128, 117, 0);
}

.galery:link {
    color: rgb(17, 166, 204);
}

.title-nowa {
    text-align: center;
    font-size: 22px;
}

.back-main {
    font-style: italic;
}

.bought {
    text-align: center;
}

ul>li:nth-child(even) {
    background-color: gray;
    color: rgb(0, 0, 0);
}

ol>li:nth-child(4) {
    background-color: aqua;
}

ol>li:hover:nth-child(3) {

    cursor: pointer;
}

ol>li:hover:nth-child(5) {

    cursor: pointer;
}

.title-gallery {
    font-size: 20px;
    text-align: center;
}

.back-main {
    font-style: italic;
}

.picture-title {
    text-align: center;
}

.picture-title-after {
    text-align: center;
    font-size: 70%;
}

.title-folder {
    font-size: 130%;
    text-align: center;
}

.title-online {
    text-align: center;
    font-size: 160%;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title-friends {
    font-size: 22px;
    text-align: center;
}

.back-main {
    font-style: italic;
}

.title-table {
    text-align: center;
}

.table-first {
    text-align: center;
    font-weight: bold;
    background-color: green;
}

.table-number {
    text-align: right;
}

.table {
    background-color: green;
    color: darkblue;
}

.table {
    width: 500px;
    margin: 10px;
    border: 1px solid black;
}

.table-first {
    border: solid 1px black;
    background-color: #ddddaa;
}

.table-number {
    border: 1px solid black;
    padding-left: 20px;
}

.title-biography {
    text-align: center;
    font-size: 22px;
}

.link-bigraphy {
    font-style: italic;
}

.title-small {
    text-align: center;
}

.article {
    font-size: 120%;
}

.title-mini {
    font-size: 140%;
}

.text-content {
    font-weight: bold;
}

.pik {
    color: rgb(215, 230, 10);
    border: 2px solid black;
    background-color: blue;
    text-align: center;
    display: block;
    width: 200px;
    margin-top: 10px;

}

.pik:hover {
    color: rgb(55, 0, 255);
    background-color: magenta;
}

.pik:active {
    background-color: yellow;
    color: blue;
}

.text-after {
    background-color: rgb(6, 67, 250);
    color: rgb(205, 255, 6);
}

.text-after {
    background-color: darkred;
    color: rgb(191, 255, 0);
}

.text-color {
    background-color: black;
    color: white;
}

.text-bigraphy {
    background-color: rgb(228, 248, 2);
    color: black;
}

.text-color {
    background-color: rgb(84, 2, 249);
    color: rgb(255, 255, 255);
}